@import url('https://fonts.googleapis.com/css?family=Space+Mono');

/*reseta configuração*/
*{box-sizing:border-box;}

.calculadora input,.btn
{font-family:'Space Mono';}

/*Adiciona espacamento*/
body
{
    background: #ffffff;
    padding-bottom:30px;
    padding-top:30px;
}

/*Limita o width no centro*/
.calculadora
{
    max-width:400px;
    margin:0 auto;
    border: 2px solid #111
}
/*reseta o estilo na forma básica*/
input
{
background: none;
border:none;
box-shadow: none;
outline: none;
padding:20px 10px;
width: 100%;
border-bottom: 2px solid#000000;
color: #130e0e;
text-align: right;
font-size: 40px;
border-radius: 0;
}

.btn,.btn-limpa,.op,.btn-igual,.btn-zero
{
    background:rgba(251, 255, 0, 0.5);    /*fundo claro com opacidade de 50%*/
    border: 1px solid#111;         /*borda preta*/
    padding: 20px;
    color: #291dcc;
    border-radius: 5px;              /*cantos arredondados*/
    font-size: 22px;
    cursor: pointer;                 /*aparece icone para clicar*/
    text-align: center;
}

.botoes                             /*Espaçamento dentro do conteiner*/
{
padding: 20px;
display: grid;
grid-template-columns:1fr 1fr 1fr 1fr; /*Criando 4 colunas*/
grid-gap: 15px;                      /*adciona a lacuna da grade*/
}

/*estende por 3 colunas*/
.btn-zero,.btn-limpa
{
    grid-column: span 3;
    font-size: 30px;
    text-align: center;
}

.btn-limpa
{
    background-color: #00fff2;
}
.btn-igual
{
    background-color: rgb(93, 247, 32);
}
